.virtualized-repeater-element {
    box-sizing: border-box;
    display: block;
}
.virtualized-repeater-container {
    box-sizing: border-box;
}
.virtualized-repeater-horizontal-container {
    display: flex;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row;
}